[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "*"
nltk = "*"
scikit-learn = "*"
matplotlib = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
wordcloud = "*"
bokeh = "*"
pyldavis = "*"
joblib = "*"
numpy = "*"
pandas = "*"
stopwords = "*"

[dev-packages]

[requires]
python_version = "3.10"
