[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "*"
nltk = "*"
scikit-learn = "*"
matplotlib = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
wordcloud = "*"
bokeh = "*"
pyldavis = "*"
joblib = "*"
numpy = "==1.21.5"
pandas = "==1.3.5"
stopwords = "*"
jupyter-nbextensions-configurator = "*"
visualpython = "*"

[dev-packages]

[requires]
python_version = "3.10"
